/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {

    /* show 4 items */
    #carouselExample .carousel-inner .active,
    #carouselExample .carousel-inner .active + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item+ .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    #carouselExample .carousel-inner .carousel-item-next,
    #carouselExample .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    #carouselExample .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item+ .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    #carouselExample .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item
    #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #carouselExample .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item+ .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    

    /* show 6 items */
    #carouselExample1 .carousel-inner .active,
    #carouselExample1 .carousel-inner .active + .carousel-item,
    #carouselExample1 .carousel-inner .active + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item+ .carousel-item,
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item+ .carousel-item+ .carousel-item,
    #carouselExample1 .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item+ .carousel-item+ .carousel-item+ .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    #carouselExample1 .carousel-inner .carousel-item-next,
    #carouselExample1 .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    #carouselExample1 .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item+ .carousel-item+ .carousel-item+ .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    #carouselExample1 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item,
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item+ .carousel-item,
    #carouselExample1 .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item+ .carousel-item{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    #carouselExample1 .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #carouselExample1 .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item+ .carousel-item,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item+ .carousel-item+ .carousel-item ,
    #carouselExample1 .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item+ .carousel-item + .carousel-item+ .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }


}

#carouselExample .carousel-control-next, #carouselExample .carousel-control-prev {
    width: 1%;
}


#carouselExample1 .carousel-control-next, #carouselExample1 .carousel-control-prev {
    width: 5%;
}








#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 0.7;
}