<div id="myCarousel" class="carousel slide">
    <!-- main slider carousel items -->
    <div id="myCarouselInner" class="carousel-inner">
        <div class="active item carousel-item" data-slide-number="0">
            <img class="img-fluid"
                src="http://localhost:3000/repocars/car1/1.jfif" height="1200" width="480"></div>
        <div class="item carousel-item" data-slide-number="1"><img class="img-fluid"
                src="http://localhost:3000/repocars/car1/2.jfif" height="1200" width="480"></div>
        <div class="item carousel-item" data-slide-number="2"><img class="img-fluid"
                src="http://localhost:3000/repocars/car1/3.jfif" height="1200" width="480"></div>
        <div class="item carousel-item" data-slide-number="3"><img class="img-fluid"
                src="http://localhost:3000/repocars/car1/4.jfif" height="1200" width="480"></div>
        <div class="item carousel-item" data-slide-number="4"><img class="img-fluid"
                src="http://localhost:3000/repocars/car1/5.jfif" height="1200" width="480"></div>
    </div>
    <!-- main slider carousel nav controls -->


    <ul id="carouselIndicators" class="carousel-indicators list-inline">
        <li class="active list-inline-item" data-slide-number="0" data-target="#myCarousel">
            <a id="carousel-selector-0"
                class="selected"><img class="img-fluid" src="http://localhost:3000/repocars/car1/1.jfif" height="80"
                    width="60"></a></li>
        <li class="list-inline-item" data-slide-number="1" data-target="#myCarousel"><a id="carousel-selector-1"><img
                    class="img-fluid" src="http://localhost:3000/repocars/car1/2.jfif" height="80" width="60"></a></li>
        <li class="list-inline-item" data-slide-number="2" data-target="#myCarousel"><a id="carousel-selector-2"><img
                    class="img-fluid" src="http://localhost:3000/repocars/car1/3.jfif" height="80" width="60"></a></li>
        <li class="list-inline-item" data-slide-number="3" data-target="#myCarousel"><a id="carousel-selector-3"><img
                    class="img-fluid" src="http://localhost:3000/repocars/car1/4.jfif" height="80" width="60"></a></li>
        <li class="list-inline-item" data-slide-number="4" data-target="#myCarousel"><a id="carousel-selector-4"><img
                    class="img-fluid" src="http://localhost:3000/repocars/car1/5.jfif" height="80" width="60"></a></li>
    </ul>
</div>